@use 'base/genereales';
@use 'base/reset';

@use 'components/banners';
@use 'components/main';

@use 'layout/header';
@use 'layout/footer';

@use 'layout/catalogo';
@use 'layout/contactos';
@use 'layout/index-seccion-uno';
@use 'layout/index-seccion-dos';
@use 'layout/index-seccion-tres';
@use 'layout/marcas';

@use 'layout/query-tablets';
@use 'layout/query-mobile';
@use 'layout/query-desktop';