@use '../utilities/variables' as*;

/********  CATALOGO  ********/

.containerCatalogo {

    h2 {
        margin: 25px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding: 48px;

        .card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap_siete;
            padding: 20px;
            box-shadow: $box-shadow-uno;
            border-radius: 8%;

            img {
                width: 100%;
                border-radius: 8%;
            }

            .card-titulo {
                font-size: 20px;
            }

            .buttonItem {
                border: 1px solid $color-primario;
                background-color: rgb(83, 182, 68, 0.1);
                color: $color-primario;
                border-radius: 6px;
                width: 100%;
                padding: 4px;
                transition: all 0.3s ease;
                font-weight: bold;

                &:hover {
                    background-color: $color-primario;
                    color: $text-detalles;
                    transform: scale(1.05)
                }
            }
        }
    }
}