@use '../utilities/variables' as*;

.contenedorContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-primario;
    margin: 10px;
    padding: 110px;
    gap: $gap_uno;
    height: auto;
    border-radius: 15px;

    .formularioDos {

        .buttonFormDos {
            display: inline-block;
            width: 25%;
            border: 2px solid $color-secundario;
            background-color: $text-detalles;
            color: $color-secundario;
            border-radius: 6px;
            padding: 4px;
            transition: all 0.3s ease;
            font-weight: bold;

            &:hover {
                background-color: $color-secundario;
                color: $text-detalles;
                transform: scale(1.05)
            }
        }
    }

    h1,
    p,
    h2 {
        text-decoration: none;
        text-align: start;
        color: $text-detalles;
    }

    h2 {
        font-size: 45px;
    }

    div {
        iframe {
            width: 600px;
            height: 350px;
            border-radius: 8px;
        }
    }
}