@use '../utilities/variables' as*;


footer {
    background-color: rgb(23, 23, 23);
    color: $text-detalles;
    padding: 40px;

    .pieDePagina {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: $gap_doce;

        .datos {
            display: flex;
            flex-direction: column;
            gap: $gap_seis;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: $gap_seis;

            a {
                color: $text-detalles;
            }
        }
    }
}