@use '../utilities/variables' as*;


.encabezado {
    flex-wrap: wrap;
    background-color: $text-detalles;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid $color-secundario;
}

.logo {
    width: 12%;
    margin: 10px;
    margin-bottom: 15px;
}

.icon {
    display: none;
}

.pages {
    font-size: 18px;
    font-weight: 750;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: $gap_ocho;
}

.pages li a {
    position: relative;
    padding-bottom: 10px;
    color: $color-primario;
}

.pages li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: $color-secundario;
    transition: width 0.3s ease;
}

.pages li a.active::after {
    width: 100%;
}

.pages li a:hover::after {
    width: 100%;
}

.btn {
    color: $color-primario;
    font-weight: 750;
}