@use '../utilities/variables' as*;

/********  INDEX - SECCION 2  ********/

.seccionDos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 100px;

    h2 {
        text-align: start;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap_siete;

        p {
            width: 90%;
        }
    }

    img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32rem;
    }
}
