@use '../utilities/variables' as*;

/********  INDEX - SECCION 1  ********/

.seccionUno {
    display: flex;
    flex-direction: column;
    gap: $gap_siete;
    padding: 100px;
}

.seccionUno p {
    text-align: center;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 65px;
    color: $color-primario;
    padding-bottom: 15px;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: $color-secundario;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}