@use '../utilities/variables' as*;


@media (max-width: 575px) {

    /********  MEDIA QUERY - MAIN  ********/

    main {
        margin: 0px;
    }

    /********  MEDIA QUERY - HEADER  ********/

    .encabezado {
        align-items: center;
        gap: $gap_nueve;
        padding: 25px;
        border-bottom: 5px solid $color-secundario;

        .logo {
            width: 40%;
            margin: 0;
        }

        .pages {
            font-size: 12px;
        }

        .navbar {
            display: none;
        }
    }

    /********  INDEX - BANNER  ********/

    .carousel-caption {
        display: none;
    }

    /********  INDEX - SECCION 1  ********/

    .seccionUno {
        gap: $gap_siete;
        padding: 25px;

        h1 {
            font-size: 35px;
        }

        p {
            text-align: center;
            font-size: 12px;
        }
    }

    /********  INDEX - SECCION 2  ********/

    .seccionDos {
        flex-direction: column;
        gap: $gap_siete;
        padding: 25px;

        div {
            align-items: center;

            h2 {
                font-size: 25px;
                color: $color-primario;
                padding-bottom: 15px;
            }

            p {
                text-align: center;
                font-size: 12px;
                width: 100%;
            }
        }

        div {
            img {
                width: 20rem;
            }
        }
    }

    /********  INDEX - CATALOGO  ********/

    .catalogo {
        display: flex;
        flex-direction: column;
        gap: $gap_seis;
        padding: 25px;

        h2 {
            text-align: center;
            font-size: 25px;
        }

        p {
            font-size: 12px;
        }

        h3 {
            text-align: center;
            font-size: 18px;
        }

        .fila {
            display: flex;
            flex-wrap: wrap;
            gap: $gap_ocho;
            justify-content: center;

            .card-item {
                display: flex;
                flex-direction: column;
                gap: $gap_siete;
                width: 45%;

                img {
                    border-radius: 8px;
                }

                h4 {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }

    /********  INDEX - SECCION 3  ********/

    .seccionTres {
        flex-direction: column;
        margin: 0px;
        padding: 25px;
        border-radius: 0px;
        text-align: center;

        .formularioUno {
            padding: 75px 25px;

            .filaForm {
                display: flex;
                flex-direction: column;
            }
        }
    }

    /********  MEDIA QUERY - PESTAÑA NOSOTROS  ********/

    .titulo-banner {
        display: none;
    }

    /********  MEDIA QUERY - PESTAÑA CATALOGO  ********/

    .containerCatalogo {
        h2 {
            font-size: 25px;
            margin: 15px;
        }

        .container {
            padding: 2px;
            margin-bottom: 50px;

            .card-item {
                padding: 12px;
                width: 35%;
                gap: 12px;

                img {
                    width: 100%;
                }

                .card-titulo {
                    font-size: 15px;
                }

                .buttonItem {
                    font-size: 12px;
                }
            }
        }
    }

    /********  MEDIA QUERY - PESTAÑA MARCAS  ********/

    main {
        .marca {
            height: auto;
            flex-direction: column;

            .marcaUno {
                width: 100%;
                padding: 30px 20px;
                clip-path: none;
                text-align: center;

                h1 {
                    font-size: 35px;
                }
            }

            .img-marcaUno {
                margin-left: 0px;
                padding: 15px;

                img {
                    border-radius: 8px;
                }
            }
        }

        .marca-dos {
            height: auto;
            flex-direction: column-reverse;

            .marcaDos {
                width: 100%;
                padding: 30px 20px;
                clip-path: none;
                text-align: center;

                h2 {
                    font-size: 25px;
                }
            }

            .img-marcaDos {
                margin-right: 0px;
                padding: 15px;

                img {
                    border-radius: 8px;
                }
            }
        }
    }

    /********  MEDIA QUERY - CONTACTANOS  ********/

    .mainContact {

        .contenedorContact {
            flex-direction: column-reverse;
            gap: $gap_cinco;
            margin: 0px;
            border-radius: 0px;
            padding: 25px;

            .formularioDos {
                display: flex;
                flex-direction: column;
                width: 100%;

                h1 {
                    justify-content: center;
                    font-size: 35px;
                    text-align: center;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                }

                div {
                    div {
                        input {
                            font-size: 12px;
                        }
                    }
                }

                div {
                    textarea {
                        font-size: 12px;
                    }
                }

                div {
                    .buttonFormDos {
                        font-size: 12px;
                    }
                }
            }

            .cont-column-2 {
                justify-content: center;
                align-items: center;
                width: 100%;

                h2 {
                    font-size: 25px;
                    text-align: center;
                }

                p {
                    font-size: 12px;
                    text-align: center;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    iframe {
                        width: auto;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    /********  MEDIA QUERY - FOOTER  ********/

    footer {
        padding: 25px;
    }

    .col-3 {
        width: 100%;
    }

    .pieDePagina {
        flex-direction: column;
        align-items: center;
        gap: $gap_cuatro;
    }

    .pieDePagina div p {
        text-align: center;
        width: 100%;
    }

    .pieDePagina div {
        text-align: center;
        gap: $gap_nueve;
    }

}