@use '../utilities/variables' as*;


@media (min-width: 576px) and (max-width: 992px) {

    /********  MEDIA QUERY - MAIN  ********/

    main {
        margin: 0px;
    }

    /********  MEDIA QUERY - HEADER  ********/

    .encabezado {
        padding: 10px;
        border-bottom: 8px solid $color-secundario;

        .logo {
            width: 25%;
        }

        .navbar {
            display: none;
        }
    }

    /********  INDEX - BANNER  ********/

    .carousel-caption {
        display: none;
    }

    /********  INDEX - SECCION 1  ********/

    .seccionUno {
        gap: $gap_siete;
        padding: 50px;

        p {
            text-align: center;
        }
    }

    /********  INDEX - SECCION 2  ********/

    .seccionDos {
        flex-direction: column;
        gap: $gap_siete;
        padding: 50px;

        div {
            align-items: center;

            p {
                text-align: center;
                width: 100%;
            }
        }

        div {
            img {
                width: 30rem;
            }
        }
    }

    /********  INDEX - CATALOGO  ********/

    .catalogo {
        display: flex;
        flex-direction: column;
        gap: $gap_seis;
        padding: 50px;

        h3 {
            text-align: center;
        }

        .fila {
            display: flex;
            flex-wrap: wrap;
            gap: $gap_siete;
            justify-content: center;

            .card-item {
                display: flex;
                flex-direction: column;
                gap: $gap_siete;
                width: 25%;

                img {
                    border-radius: 8px;
                }

                h4 {
                    text-align: center;
                }
            }
        }
    }

    /********  INDEX - SECCION 3  ********/

    .seccionTres {
        flex-direction: column;
        margin: 0px;
        padding: 25px;
        border-radius: 0px;
        text-align: center;

        .formularioUno {
            padding: 75px;
        }
    }

    /********  MEDIA QUERY - PESTAÑA NOSOTROS  ********/

    .titulo-banner {
        display: none;
    }

    /********  MEDIA QUERY - PESTAÑA CATALOGO  ********/

    .containerCatalogo {

        .container {
            padding: 2px;
            margin-bottom: 100px;

            .card-item {
                width: 25%;
                gap: 12px;
            }
        }
    }

    /********  MEDIA QUERY - PESTAÑA MARCAS  ********/

    main {
        .marca {
            height: 276px;

            .marcaUno {
                padding: 50px;
                padding-right: 120px;
                width: 1900px;

                h1 {
                    font-size: 35px;
                    padding: 0px;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        .marca-dos {
            height: 276px;

            .img-marcaDos {
                img {
                    width: 276px;
                }
            }

            .marcaDos {
                padding: 50px;
                padding-left: 120px;
                width: 1900px;

                h2 {
                    font-size: 30px;
                    padding: 0px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    /********  MEDIA QUERY - CONTACTANOS  ********/

    .mainContact {

        .contenedorContact {
            flex-direction: column-reverse;
            padding: 50px;

            .formularioDos {
                width: 100%;

                h1 {
                    justify-content: center;
                }

                p {
                    text-align: center;
                }
            }

            .cont-column-2 {
                justify-content: center;
                align-items: center;
                width: 100%;

                h2 {
                    justify-content: center;
                }

                p {
                    text-align: center;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    iframe {
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    /********  MEDIA QUERY - FOOTER  ********/

    footer {
        padding: 40px;
    }

    .pieDePagina div p {
        width: 100%;
    }
}