@use '../utilities/variables' as*;


@media (max-width: 575px) {

    /********  MEDIA QUERY - MAIN  ********/

    main {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    /********  MEDIA QUERY - HEADER  ********/

    .encabezado {
        align-items: center;
        gap: $gap_nueve;
        padding: 15px 0;
        border-bottom: 5px solid $color-secundario;
    }

    .logo {
        width: 40%;
        margin: 0;
    }

    .pages {
        font-size: 12px;
        flex-direction: row;
    }

    .navbar {
        display: none;
    }

    /********  INDEX - BANNER  ********/

    .carousel-caption {
        display: none;
    }

    /********  INDEX - SECCION 1  ********/

    .seccionUno {
        display: flex;
        flex-direction: column;
        gap: $gap_siete;
        padding: 25px;
    }

    .seccionUno p {
        text-align: center;
        font-size: 12px;
    }

    h1 {
        text-align: center;
        font-size: 35px;
        color: $color-primario;
        padding-bottom: 15px;
        text-decoration: underline;
        text-decoration-color: $color-secundario;
        text-decoration-thickness: 4px;
        text-underline-offset: 10px;
    }

    /********  INDEX - SECCION 2  ********/

    .seccionDos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap_siete;
    }

    h2 {
        font-size: 25px;
        color: $color-primario;
        padding-bottom: 15px;
    }

    .seccionDos div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccionDos div p {
        text-align: center;
        font-size: 12px;
    }

    .seccionDos img {
        width: 20rem;
    }

    /********  INDEX - CATALOGO  ********/

    .catalogo {
        display: flex;
        flex-direction: column;
        gap: $gap_siete;
        margin: 25px;
    }

    .catalogo h3 {
        text-align: center;
        font-size: 15px;
    }

    .catalogo p {
        font-size: 12px;
    }

    .fila {
        display: flex;
        flex-wrap: wrap;
        gap: $gap_ocho;
        justify-content: center;
    }

    .card-item {
        display: flex;
        flex-direction: column;
        gap: $gap_siete;
        width: 25%;
    }

    .card-item img {
        width: 100%;
    }

    .card-titulo {
        display: flex;
        justify-content: center;
        font-size: 12px;
        text-align: center;
    }

    /********  INDEX - SECCION 3  ********/

    .seccionTres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $color-primario;
        margin: 0px;
        padding: 25px;
        border-radius: 2%;
        gap: $gap_uno;
        height: auto;
        text-align: center;
    }

    .seccionTres form {
    padding: 45px;
    }

    .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap_siete;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap_siete;
    }

    .row h5 {
        width: 100%;
    }

    .iconFila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px 0px;
        gap: $gap_dos;
    }

    .formularioUno {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $gap_siete;
        height: auto;
    }

    .formularioUno h5{
        width: 100%;
    }

    .filaForm {
        display: flex;
        flex-direction: column;
        gap: $gap_siete;
    }

    /********  MEDIA QUERY - PESTAÑA CATALOGO  ********/

    .filaDos {
        display: flex;
        flex-direction: row;
        gap: $gap_once;
    }

    .dos {
        width: 65%;

        h4 {
            font-size: 15px;
        }

        div {
            button {
                width: 75%;
                padding: 1px;
            }
        }
    }

    /********  MEDIA QUERY - PESTAÑA MARCAS  ********/

    .marca {
        flex-direction: column;
        height: auto;
    }

    .marcaUno,.marcaDos {
        width: 100%;
        padding: 30px 20px;
        clip-path: none;
        text-align: center;
    }

    .marcaUno {
        padding-right: 20px;
    }

    .marcaDos {
        padding-left: 20px;
    }

    .img-marcaUno, .img-marcaDos {
        margin: 0;
        width: 100%;
    }

    .img-marcaUno img,
    .img-marcaDos img {
        width: 100%;
        height: auto;
        object-fit: cover;
        padding: 5px;
        border-radius: 8%;
    }

    /********  MEDIA QUERY - CONTACTANOS  ********/

    .contenedorContact {
        flex-direction: column;
        margin: 10px;
        padding: 30px;
        gap: $gap_cinco;
        border-radius: 15px;
    }

    .text-cont h1 {
        font-size: 1.6rem;
    }

    .text-cont p {
        font-size: 0.95rem;
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 300px;
    }


    /********  MEDIA QUERY - FOOTER  ********/

    footer {
        padding: 25px;
    }

    .col-3 {
        width: 100%;
    }

    .pieDePagina {
        flex-direction: column;
        align-items: center;
        gap: $gap_cuatro;
    }

    .pieDePagina div p {
        text-align: center;
        width: 100%;
    }

    .pieDePagina div {
        text-align: center;
        gap: $gap_nueve;
    }

}