@use '../utilities/variables' as*;

@media (min-width: 992px) and (max-width: 1920px) {


    /********  INDEX - CATALOGO  ********/

    .catalogo {
        display: flex;
        flex-direction: column;
        gap: $gap_cuatro;
        padding: 50px 100px;

        h3 {
            text-align: center;
        }

        div {
            display: flex;
            flex-direction: row;
            gap: $gap_ocho;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;

            div {
                display: flex;
                flex-direction: column;
                gap: $gap_siete;
                width: 25%;

                img {
                    width: 100%;
                    border-radius: 8px;
                }

                h4 {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }

        .dos {
            height: 175px;
            width: 135px;
        }
    }
}