@charset "UTF-8";
/********  COLORES  ********/
/********  TAMAÑO DE FUENTE  ********/
/********  MOBILE  ********/
/********  TABLETS  ********/
/********  GAPS  ********/
/********  BORDER-RADIUS  ********/
/********  BORDER-SHADOW  ********/
body {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

hr {
  margin: 0px 100px 0px 100px;
}

i {
  font-size: 75px;
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 65px;
  color: rgb(83, 182, 68);
  padding-bottom: 15px;
  margin: 0px;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

h2 {
  font-size: 50px;
  color: rgb(83, 182, 68);
  padding-bottom: 15px;
  margin: 0px;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}

input,
textarea {
  font-size: 18px;
  text-align: center;
  border: 1px solid rgb(83, 182, 68);
}

.parrafos {
  font-size: 18px;
  color: rgb(23, 23, 23);
}

* {
  margin: 0px;
  padding: 0px;
}

.img-banner {
  border-bottom: 5px solid whitesmoke;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.45);
  width: 100%;
}

.carousel-caption {
  text-align: start;
  bottom: 250px;
  left: 150px;
}
.carousel-caption h2 {
  text-decoration: none;
  color: whitesmoke;
  font-size: 45px;
}
.carousel-caption p {
  color: whitesmoke;
  font-size: 18px;
}

.titulo-banner {
  top: 390px;
  left: 550px;
  color: whitesmoke;
  font-size: 100px;
  text-decoration: none;
}

main {
  background-color: whitesmoke;
  margin: 0px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.45);
}

.encabezado {
  flex-wrap: wrap;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 10px solid red;
}
.encabezado .logo {
  width: 12%;
  margin: 10px;
  margin-bottom: 15px;
}
.encabezado .pages {
  font-size: 18px;
  font-weight: 750;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 20px;
}
.encabezado .pages li a {
  position: relative;
  padding-bottom: 10px;
  color: rgb(83, 182, 68);
}
.encabezado .pages li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
}
.encabezado .pages li a.active::after {
  width: 100%;
}
.encabezado .pages li a:hover::after {
  width: 100%;
}
.encabezado .navbar div form button {
  display: inline-block;
  width: 25%;
  border: 1px solid rgb(83, 182, 68);
  background-color: rgba(83, 182, 68, 0.1);
  color: rgb(83, 182, 68);
  border-radius: 6px;
  padding: 8px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.encabezado .navbar div form button:hover {
  background-color: rgb(83, 182, 68);
  color: whitesmoke;
  transform: scale(1.05);
}

footer {
  background-color: rgb(23, 23, 23);
  color: whitesmoke;
  padding: 40px;
}
footer .pieDePagina {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10%;
}
footer .pieDePagina .datos {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
footer .pieDePagina div {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
footer .pieDePagina div a {
  color: whitesmoke;
}

/********  CATALOGO  ********/
.containerCatalogo h2 {
  margin: 25px;
}
.containerCatalogo .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 48px;
}
.containerCatalogo .container .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.45);
  border-radius: 8%;
}
.containerCatalogo .container .card-item img {
  width: 100%;
  border-radius: 8%;
}
.containerCatalogo .container .card-item .card-titulo {
  font-size: 20px;
}
.containerCatalogo .container .card-item .buttonItem {
  border: 1px solid rgb(83, 182, 68);
  background-color: rgba(83, 182, 68, 0.1);
  color: rgb(83, 182, 68);
  border-radius: 6px;
  width: 100%;
  padding: 4px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.containerCatalogo .container .card-item .buttonItem:hover {
  background-color: rgb(83, 182, 68);
  color: whitesmoke;
  transform: scale(1.05);
}

.contenedorContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(83, 182, 68);
  margin: 10px;
  padding: 110px;
  gap: 100px;
  height: auto;
  border-radius: 15px;
}
.contenedorContact .formularioDos .buttonFormDos {
  display: inline-block;
  width: 25%;
  border: 2px solid red;
  background-color: whitesmoke;
  color: red;
  border-radius: 6px;
  padding: 4px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.contenedorContact .formularioDos .buttonFormDos:hover {
  background-color: red;
  color: whitesmoke;
  transform: scale(1.05);
}
.contenedorContact h1,
.contenedorContact p,
.contenedorContact h2 {
  text-decoration: none;
  text-align: start;
  color: whitesmoke;
}
.contenedorContact h2 {
  font-size: 45px;
}
.contenedorContact div iframe {
  width: 600px;
  height: 350px;
  border-radius: 8px;
}

/********  INDEX - SECCION 1  ********/
.seccionUno {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 100px;
}

/********  INDEX - SECCION 2  ********/
.seccionDos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 100px;
}
.seccionDos h2 {
  text-align: start;
}
.seccionDos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.seccionDos div p {
  width: 90%;
}
.seccionDos img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32rem;
}

/********  SECCION 3  ********/
.seccionTres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 182, 68);
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
  gap: 75px;
}
.seccionTres .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.seccionTres .cont h2,
.seccionTres .cont p {
  text-decoration: none;
  color: whitesmoke;
}
.seccionTres .cont .iconos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  gap: 25px;
}
.seccionTres .cont .iconos div h5 {
  font-size: 18px;
  text-align: center;
  color: whitesmoke;
}
.seccionTres .formularioUno {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: auto;
  background-color: whitesmoke;
  padding: 75px 35px;
  border-radius: 8px;
}
.seccionTres .formularioUno .filaForm {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.seccionTres .formularioUno .columnaForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.seccionTres .formularioUno .columnaForm button {
  display: inline-block;
  width: 25%;
  border: 1px solid rgb(83, 182, 68);
  background-color: rgba(83, 182, 68, 0.1);
  color: rgb(83, 182, 68);
  border-radius: 6px;
  padding: 4px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.seccionTres .formularioUno .columnaForm button:hover {
  background-color: rgb(83, 182, 68);
  color: whitesmoke;
  transform: scale(1.05);
}
.seccionTres {
  /*.buttonItem {
  background-color: $text-detalles;
  border: 1px solid $color-primario;
  background-color: rgba(83, 182, 68, 0.2);
  padding: 8px;
  border-radius: 8px;*/
}

main .marca {
  position: relative;
  display: flex;
  height: 500px;
  overflow: hidden;
  background-color: rgba(83, 182, 68, 0.5);
}
main .marca .marcaUno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 65px;
  padding-right: 150px;
  width: 1920px;
  background-color: rgb(83, 182, 68);
  color: whitesmoke;
  z-index: 2;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}
main .marca .marcaUno h1 {
  color: whitesmoke;
  text-decoration: none;
}
main .marca .img-marcaUno {
  margin-left: -140px;
}
main .marca .img-marcaUno img {
  width: 100%;
  object-fit: cover;
}
main .marca-dos {
  position: relative;
  display: flex;
  height: 500px;
  overflow: hidden;
  background-color: rgba(182, 68, 68, 0.5);
}
main .marca-dos .img-marcaDos {
  margin-right: -108px;
}
main .marca-dos .img-marcaDos img {
  width: 100%;
  object-fit: cover;
}
main .marca-dos .marcaDos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 65px;
  padding-left: 150px;
  width: 1920px;
  background-color: red;
  color: whitesmoke;
  z-index: 2;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}
main .marca-dos .marcaDos h2 {
  color: whitesmoke;
  text-decoration: none;
}

@media (min-width: 576px) and (max-width: 992px) {
  /********  MEDIA QUERY - MAIN  ********/
  main {
    margin: 0px;
  }
  /********  MEDIA QUERY - HEADER  ********/
  .encabezado {
    padding: 10px;
    border-bottom: 8px solid red;
  }
  .encabezado .logo {
    width: 25%;
  }
  .encabezado .navbar {
    display: none;
  }
  /********  INDEX - BANNER  ********/
  .carousel-caption {
    display: none;
  }
  /********  INDEX - SECCION 1  ********/
  .seccionUno {
    gap: 25px;
    padding: 50px;
  }
  .seccionUno p {
    text-align: center;
  }
  /********  INDEX - SECCION 2  ********/
  .seccionDos {
    flex-direction: column;
    gap: 25px;
    padding: 50px;
  }
  .seccionDos div {
    align-items: center;
  }
  .seccionDos div p {
    text-align: center;
    width: 100%;
  }
  .seccionDos div img {
    width: 30rem;
  }
  /********  INDEX - CATALOGO  ********/
  .catalogo {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 50px;
  }
  .catalogo h3 {
    text-align: center;
  }
  .catalogo .fila {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  .catalogo .fila .card-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 25%;
  }
  .catalogo .fila .card-item img {
    border-radius: 8px;
  }
  .catalogo .fila .card-item h4 {
    text-align: center;
  }
  /********  INDEX - SECCION 3  ********/
  .seccionTres {
    flex-direction: column;
    margin: 0px;
    padding: 25px;
    border-radius: 0px;
    text-align: center;
  }
  .seccionTres .formularioUno {
    padding: 75px;
  }
  /********  MEDIA QUERY - PESTAÑA NOSOTROS  ********/
  .titulo-banner {
    display: none;
  }
  /********  MEDIA QUERY - PESTAÑA CATALOGO  ********/
  .containerCatalogo .container {
    padding: 2px;
    margin-bottom: 100px;
  }
  .containerCatalogo .container .card-item {
    width: 25%;
    gap: 12px;
  }
  /********  MEDIA QUERY - PESTAÑA MARCAS  ********/
  main .marca {
    height: 276px;
  }
  main .marca .marcaUno {
    padding: 50px;
    padding-right: 120px;
    width: 1900px;
  }
  main .marca .marcaUno h1 {
    font-size: 35px;
    padding: 0px;
  }
  main .marca .marcaUno p {
    font-size: 15px;
  }
  main .marca-dos {
    height: 276px;
  }
  main .marca-dos .img-marcaDos img {
    width: 276px;
  }
  main .marca-dos .marcaDos {
    padding: 50px;
    padding-left: 120px;
    width: 1900px;
  }
  main .marca-dos .marcaDos h2 {
    font-size: 30px;
    padding: 0px;
  }
  main .marca-dos .marcaDos p {
    font-size: 15px;
  }
  /********  MEDIA QUERY - CONTACTANOS  ********/
  .mainContact .contenedorContact {
    flex-direction: column-reverse;
    padding: 50px;
  }
  .mainContact .contenedorContact .formularioDos {
    width: 100%;
  }
  .mainContact .contenedorContact .formularioDos h1 {
    justify-content: center;
  }
  .mainContact .contenedorContact .formularioDos p {
    text-align: center;
  }
  .mainContact .contenedorContact .cont-column-2 {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .mainContact .contenedorContact .cont-column-2 h2 {
    justify-content: center;
  }
  .mainContact .contenedorContact .cont-column-2 p {
    text-align: center;
  }
  .mainContact .contenedorContact .cont-column-2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainContact .contenedorContact .cont-column-2 div iframe {
    border-radius: 8px;
  }
  /********  MEDIA QUERY - FOOTER  ********/
  footer {
    padding: 40px;
  }
  .pieDePagina div p {
    width: 100%;
  }
}
@media (max-width: 575px) {
  /********  MEDIA QUERY - MAIN  ********/
  main {
    margin: 0px;
  }
  /********  MEDIA QUERY - HEADER  ********/
  .encabezado {
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-bottom: 5px solid red;
  }
  .encabezado .logo {
    width: 40%;
    margin: 0;
  }
  .encabezado .pages {
    font-size: 12px;
  }
  .encabezado .navbar {
    display: none;
  }
  /********  INDEX - BANNER  ********/
  .carousel-caption {
    display: none;
  }
  /********  INDEX - SECCION 1  ********/
  .seccionUno {
    gap: 25px;
    padding: 25px;
  }
  .seccionUno h1 {
    font-size: 35px;
  }
  .seccionUno p {
    text-align: center;
    font-size: 12px;
  }
  /********  INDEX - SECCION 2  ********/
  .seccionDos {
    flex-direction: column;
    gap: 25px;
    padding: 25px;
  }
  .seccionDos div {
    align-items: center;
  }
  .seccionDos div h2 {
    font-size: 25px;
    color: rgb(83, 182, 68);
    padding-bottom: 15px;
  }
  .seccionDos div p {
    text-align: center;
    font-size: 12px;
    width: 100%;
  }
  .seccionDos div img {
    width: 20rem;
  }
  /********  INDEX - CATALOGO  ********/
  .catalogo {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 25px;
  }
  .catalogo h2 {
    text-align: center;
    font-size: 25px;
  }
  .catalogo p {
    font-size: 12px;
  }
  .catalogo h3 {
    text-align: center;
    font-size: 18px;
  }
  .catalogo .fila {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .catalogo .fila .card-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 45%;
  }
  .catalogo .fila .card-item img {
    border-radius: 8px;
  }
  .catalogo .fila .card-item h4 {
    font-size: 15px;
    text-align: center;
  }
  /********  INDEX - SECCION 3  ********/
  .seccionTres {
    flex-direction: column;
    margin: 0px;
    padding: 25px;
    border-radius: 0px;
    text-align: center;
  }
  .seccionTres .formularioUno {
    padding: 75px 25px;
  }
  .seccionTres .formularioUno .filaForm {
    display: flex;
    flex-direction: column;
  }
  /********  MEDIA QUERY - PESTAÑA NOSOTROS  ********/
  .titulo-banner {
    display: none;
  }
  /********  MEDIA QUERY - PESTAÑA CATALOGO  ********/
  .containerCatalogo h2 {
    font-size: 25px;
    margin: 15px;
  }
  .containerCatalogo .container {
    padding: 2px;
    margin-bottom: 50px;
  }
  .containerCatalogo .container .card-item {
    padding: 12px;
    width: 35%;
    gap: 12px;
  }
  .containerCatalogo .container .card-item img {
    width: 100%;
  }
  .containerCatalogo .container .card-item .card-titulo {
    font-size: 15px;
  }
  .containerCatalogo .container .card-item .buttonItem {
    font-size: 12px;
  }
  /********  MEDIA QUERY - PESTAÑA MARCAS  ********/
  main .marca {
    height: auto;
    flex-direction: column;
  }
  main .marca .marcaUno {
    width: 100%;
    padding: 30px 20px;
    clip-path: none;
    text-align: center;
  }
  main .marca .marcaUno h1 {
    font-size: 35px;
  }
  main .marca .img-marcaUno {
    margin-left: 0px;
    padding: 15px;
  }
  main .marca .img-marcaUno img {
    border-radius: 8px;
  }
  main .marca-dos {
    height: auto;
    flex-direction: column-reverse;
  }
  main .marca-dos .marcaDos {
    width: 100%;
    padding: 30px 20px;
    clip-path: none;
    text-align: center;
  }
  main .marca-dos .marcaDos h2 {
    font-size: 25px;
  }
  main .marca-dos .img-marcaDos {
    margin-right: 0px;
    padding: 15px;
  }
  main .marca-dos .img-marcaDos img {
    border-radius: 8px;
  }
  /********  MEDIA QUERY - CONTACTANOS  ********/
  .mainContact .contenedorContact {
    flex-direction: column-reverse;
    gap: 30px;
    margin: 0px;
    border-radius: 0px;
    padding: 25px;
  }
  .mainContact .contenedorContact .formularioDos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mainContact .contenedorContact .formularioDos h1 {
    justify-content: center;
    font-size: 35px;
    text-align: center;
  }
  .mainContact .contenedorContact .formularioDos p {
    font-size: 12px;
    text-align: center;
  }
  .mainContact .contenedorContact .formularioDos div div input {
    font-size: 12px;
  }
  .mainContact .contenedorContact .formularioDos div textarea {
    font-size: 12px;
  }
  .mainContact .contenedorContact .formularioDos div .buttonFormDos {
    font-size: 12px;
  }
  .mainContact .contenedorContact .cont-column-2 {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .mainContact .contenedorContact .cont-column-2 h2 {
    font-size: 25px;
    text-align: center;
  }
  .mainContact .contenedorContact .cont-column-2 p {
    font-size: 12px;
    text-align: center;
  }
  .mainContact .contenedorContact .cont-column-2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainContact .contenedorContact .cont-column-2 div iframe {
    width: auto;
    border-radius: 8px;
  }
  /********  MEDIA QUERY - FOOTER  ********/
  footer {
    padding: 25px;
  }
  .col-3 {
    width: 100%;
  }
  .pieDePagina {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .pieDePagina div p {
    text-align: center;
    width: 100%;
  }
  .pieDePagina div {
    text-align: center;
    gap: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1920px) {
  /********  INDEX - CATALOGO  ********/
  .catalogo {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 50px 100px;
  }
  .catalogo h3 {
    text-align: center;
  }
  .catalogo div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .catalogo div div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 25%;
  }
  .catalogo div div img {
    width: 100%;
    border-radius: 8px;
  }
  .catalogo div div h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }
  .catalogo .dos {
    height: 175px;
    width: 135px;
  }
}

/*# sourceMappingURL=style.css.map */
