/******** BODY Y RESETS ********/

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

hr {
    margin: 0px 100px 0px 100px;
}

i {
    font-size: 100px;
    color: whitesmoke;
}

/********  SECCIONES ESPECIFICAS  ********/

.parrafos {
    color: black;
}

/********  MAIN  ********/

main {
    background-color: whitesmoke;
    margin: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.45);
}

/******** HEADER ********/

.encabezado {
    flex-wrap: wrap;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px solid red;
}

.logo {
    width: 12%;
    margin: 10px;
    margin-bottom: 15px;
}

.pages {
    font-size: 18px;
    font-weight: 750;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 20px;
}

.pages li a {
    position: relative;
    padding-bottom: 10px;
    color: rgb(83, 182, 68);
}

.pages li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: red;
    transition: width 0.3s ease;
}

.pages li a.active::after {
    width: 100%;
}

.pages li a:hover::after {
    width: 100%;
}

.btn {
    color: rgb(83, 182, 68);
    font-weight: 750;
}

/********  IMAGENES DE BANNERS  ********/

.img-banner {
    border-bottom: 5px solid whitesmoke;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.45);
    width: 100%;
}

.conjunto h2 {
    text-decoration: none;
    position: relative;
    text-align: start;
    bottom: 300px;
    right: 150px;
    color: white;
    font-size: 45px;
}

.conjunto p {
    position: relative;
    text-align: start;
    bottom: 300px;
    right: 150px;
    color: white;
    font-size: 18px;
}

.titulo-banner {
    top: 450px;
    left: 600px;
    color: white;
    font-size: 100px;
    text-decoration: none;
}

/********  SECCION 1  ********/

.seccionUno {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px;
}

.seccionUno p {
    text-align: center;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 65px;
    color: rgb(83, 182, 68);
    padding-bottom: 15px;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

/********  SECCION 2  ********/

.seccionDos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 100px;
}

h2 {
    font-size: 50px;
    color: rgb(83, 182, 68);
    padding-bottom: 15px;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.seccionDos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.seccionDos div p {
    width: 90%;
    font-size: 18px;
}

.seccionDos img {
    width: 32rem;
}


/********  CATALOGO  ********/

.catalogo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px;
}

.catalogo h3 {
    font-size: 25px;
}

.catalogo p {
    font-size: 18px;
}

.fila {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-item img {
    width: 100%;
    border-radius: 8%;
    box-shadow: 5px 5px 5px rgb(128, 128, 128, 0.20);
}

.card-titulo {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

/********  SECCION 3  ********/

.seccionTres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(83, 182, 68);
    margin: 100px;
    padding: 100px;
    border-radius: 5%;
    gap: 100px;
    height: auto;
}

.seccionTres div h2,
p {
    text-decoration: none;
    color: whitesmoke;
}

.seccionTres form {
    background-color: whitesmoke;
    padding: 75px;
    border-radius: 8px;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.iconFila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 75px;
}

.iconFila h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
}

.formularioUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: auto;
}

.formularioUno label,
input,
textarea {
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(83, 182, 68);
}

.filaForm {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.columnaForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.columnaForm button,
.buttonItem {
    background-color: whitesmoke;
    border: 1px solid rgb(83, 182, 68);
    width: 50%;
}

/********  PESTAÑA DE CATALOGO  ********/

.buttonCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/********  PESTAÑA DE MARCAS  ********/

.marca {
    position: relative;
    display: flex;
    height: 500px;
    overflow: hidden;
}

.marcaUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 65px;
    padding-right: 150px;
    width: 1920px;
    background-color: rgb(83, 182, 68);
    color: whitesmoke;
    z-index: 2;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.marcaUno h1 {
    color: whitesmoke;
    text-decoration: none;
}

.img-marcaUno {
    margin-left: -140px;
}

.img-marcaUno img {
    width: 100%;
    object-fit: cover;
}

.marcaDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 65px;
    padding-left: 150px;
    width: 1920px;
    background-color: red;
    color: whitesmoke;
    z-index: 2;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.img-marcaDos {
    margin-right: -150px;
}

.img-marcaDos img {
    width: 100%;
    object-fit: cover;
}

.marcaDos h2 {
    color: whitesmoke;
    text-decoration: none;
}

/********  PESTAÑA DE CONTACTANOS ********/

.formularioDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: auto;
}

.contenedorContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(83, 182, 68);
    margin: 100px;
    padding: 100px;
    border-radius: 5%;
    gap: 100px;
    height: auto;
}

.filaFormDos {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.text-cont h1,
p {
    color: white;
}

/********  FOOTER  ********/

footer {
    background-color: rgb(23, 23, 23);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.pieDePagina {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10%;
}

.pieDePagina div {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.pieDePagina div p {
    width: 600px;
}

.pieDePagina div a {
    color: white;
}

/********  MEDIA QUERY - PESTAÑA CONTACTANOS  ********/

/********  MEDIA QUERY - MOBILE  ********/

@media (max-width: 576px) {

    /********  MEDIA QUERY - HEADER  ********/

    .encabezado {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 0;
    }

    .logo {
        width: 45%;
        margin: 0;
    }

    .pages {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0;
        margin: 0;
        display: none;
    }

    .encabezado:hover .pages {
        display: flex;
    }

    .pages li a {
        font-size: 1rem;
    }

    .navbar {
        width: 90%;
    }

    .navbar .form-control {
        width: 100%;
    }

    /********  MEDIA QUERY - PESTAÑA CONTACTANOS  ********/

    /********  MEDIA QUERY - CONTENIDO  ********/

    .contenedorContact {
        flex-direction: column;
        margin: 20px;
        padding: 30px 20px;
        gap: 30px;
        border-radius: 15px;
    }

    .formularioDos {
        width: 100%;
        gap: 20px;
    }

    .filaFormDos {
        flex-direction: column;
        gap: 15px;
    }

    .text-cont h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    .text-cont p {
        font-size: 0.95rem;
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    /********  MEDIA QUERY - PESTAÑA MARCAS  ********/

    /********  MEDIA QUERY - CONTENIDO  ********/

    .marca {
        flex-direction: column;
        height: auto;
    }

    .marcaUno,
    .marcaDos {
        width: 100%;
        padding: 30px 20px;
        clip-path: none;
        text-align: center;
    }

    .marcaUno {
        padding-right: 20px;
    }

    .marcaDos {
        padding-left: 20px;
    }

    .img-marcaUno,
    .img-marcaDos {
        margin: 0;
        width: 100%;
    }

    .img-marcaUno img,
    .img-marcaDos img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }


    /********  MEDIA QUERY - FOOTER  ********/

    footer {
        padding: 30px 20px;
    }

    .pieDePagina {
        flex-direction: column;
        gap: 40px;
    }

    .pieDePagina div p {
        width: 100%;
    }

    .pieDePagina div {
        gap: 15px;
    }

}

/********  MEDIA QUERY - TABLETS  ********/

@media (min-width: 577px) and (max-width: 992px) {

    /********  MEDIA QUERY - HEADER  ********/

    .logo {
        width: 18%;
    }

    .pages {
        gap: 15px;
        font-size: 16px;
    }

    /********  MEDIA QUERY - PESTAÑA MARCAS  ********/

    /********  MEDIA QUERY - CONTENIDO  ********/

    .marca {
        flex-direction: column;
        height: auto;
    }

    .marcaUno,
    .marcaDos {
        width: 100%;
        padding: 50px;
        clip-path: none;
    }

    .img-marcaUno,
    .img-marcaDos {
        margin: 0;
        width: 100%;
    }

    .img-marcaUno img,
    .img-marcaDos img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /********  MEDIA QUERY - PESTAÑA CONTACTANOS  ********/

    /********  MEDIA QUERY - CONTENIDO  ********/

    .contenedorContact {
        flex-direction: column;
        margin: 50px;
        padding: 60px;
        gap: 40px;
        border-radius: 20px;
    }

    .formularioDos {
        width: 100%;
    }

    .filaFormDos {
        flex-direction: row;
        gap: 20px;
    }

    .text-cont h1 {
        font-size: 1.9rem;
        text-align: center;
    }

    .text-cont p {
        font-size: 1rem;
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 400px;
    }

    /********  MEDIA QUERY - FOOTER  ********/

    footer {
        padding: 40px;
    }

    .pieDePagina {
        flex-wrap: wrap;
        gap: 40px;
    }

    .pieDePagina div p {
        width: 100%;
    }
}