@use '../utilities/variables' as*;


.img-banner {
    border-bottom: 5px solid $text-detalles;
    box-shadow: $box-shadow-uno;
    width: 100%;
}

.carousel-caption {
    text-align: start;
    bottom: 250px;
    left: 150px;

    h2 {
        text-decoration: none;
        color: $text-detalles;
        font-size: 45px;
    }

    p {
        color: $text-detalles;
        font-size: 18px;
    }
}

.titulo-banner {
    top: 390px;
    left: 550px;
    color: $text-detalles;
    font-size: 100px;
    text-decoration: none;
}