@use '../utilities/variables' as*;

body {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

hr {
    margin: 0px 100px 0px 100px;
}

i {
    font-size: 100px;
    color: $text-detalles
}

h1 {
    text-align: center;
    font-size: 65px;
    color: $color-primario;
    padding-bottom: 15px;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: $color-secundario;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

h2 {
    font-size: 50px;
    color: $color-primario;
    padding-bottom: 15px;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: $color-secundario;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
}

.parrafos {
    color: $color-parrafos;
}

